@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    /* Colors */
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);

    /* Fonts */
    --ff-montserrat: 'Montserrat', serif;
    --ff-fraunces: 'Fraunces', sans-serif;
    --fs-p: 1rem;
    --fw-500: 500;
    --fw-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
    font-family: var(--ff-fraunces);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    margin: auto;
    background-color: var(--white);
    width: 375px;
    margin-top: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

    @media (min-width: 600px) {
    .container {
        orientation: landscape;
        width: 600px;
        height: 450px;
        display: flex;
        flex-direction: row;
    }

    .image {
        width: 50%;
        overflow: hidden;
    }

    .image img {
        content: url(./images/image-product-desktop.jpg);
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 0 0 10px;
    }

    .label, .productName, .description, .price, .cart {
        width: 50%;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .cart {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2rem;
    }

    button {
        width: 100%;
        margin: 0;
    }
}


img {
    width: 375px;
    border-radius: 10px 10px 0 0;
}

.label {
    padding: 2rem 2rem 1rem 2rem;
    letter-spacing: 0.3rem;
    font-weight: var(--fw-500);
    font-family: var(--ff-montserrat);
    font-size: 14px;
    color: var(--grey);
}

.productName {
    padding: 1rem 2rem 1rem 2rem;
    font-weight: var(--fw-700);
    color: var(--black);
}

.description {
    padding: 1rem 2rem 1rem 2rem;
    font-size: var(--fs-p);
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-500);
    color: var(--grey);
}

.price p {
    display: inline-block;
}

.regularPrice {
    color: var(--grey);
    font-size: var(--fs-p);
    padding: 0.5rem;
}

.sale {
    color: var(--green-500);
    font-weight: var(--fw-700);
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    background-color: var(--green-500);
    color: var(--white);
    border: none;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-500);
    font-size: var(--fs-p);
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
}

button img {
    width: 20px;
    height: 20px;
    margin-left: 1rem;
    padding-right: 0.2rem;
}

button:hover {
    background-color: var(--green-700);
}

